<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
</head>

<body>

    <section class="layout-content" layout:fragment="corpo">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav class="navbar navbar-expand-md bg-light">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><i class="oi oi-caret-right"></i>
                            <span th:text="#{cliente.cadastrar}">Cadastrar Cliente</span>
                        </li>
                    </ul>
                    <a class="btn btn-primary btn-md" th:href="@{/clientes/listar}" role="button"> <span
                            class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span> <span th:text="#{cadastro.listar}">Listar
                            Clientes</span>
                    </a>
                </div>
            </nav>
        </div>

        <div class="container" id="cadastro">

            <div th:replace="~{fragments/alert}"></div>

            <form th:action="${cliente.id == null} ? @{/clientes/salvar} : @{/clientes/editar}" th:object="${cliente}"
                method="POST">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome" th:text="#{cliente.nome}">Nome</label>
                        <input type="text" class="form-control" id="nome" th:placeholder="#{cliente.nome}" autofocus="autofocus"
                            th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{nome}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" th:placeholder="#{cadastro.email.exemplo}"
                            autofocus="autofocus" th:field="*{email}"
                            th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{email}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="CPF">CPF</label>
                        <input type="text" class="form-control" id="CPF" placeholder="___.___.___-__"
                            th:readonly="${cliente.id != null}" autofocus="autofocus" th:field="*{CPF}"
                            th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" data-mask="000.000.000-00"
                            data-mask-reverse="true" />

                        <div class="invalid-feedback">
                            <span th:errors="*{CPF}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="telefone" th:text="#{cliente.telefone}">Telefone</label>
                        <input type="text" class="form-control" id="telefone" th:placeholder="#{cliente.telefone}"
                            data-mask="(00) 00000-0000" th:field="*{telefone}"
                            th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{telefone}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="sexo" th:text="#{cliente.sexo}">Sexo</label>
                        <select id="sexo" class="form-control" th:field="*{sexo}"
                            th:classappend="${#fields.hasErrors('sexo')} ? is-invalid">
                            <option value="" th:text="#{cadastro.selecione}">Selecione</option>
                            <option value="M" th:text="#{cadastro.masc}">Masculino</option>
                            <option value="F" th:text="#{cadastro.fem}">Feminino</option>
                        </select>

                        <div class="invalid-feedback">
                            <span th:errors="*{sexo}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dataNascimento" th:text="#{cliente.data}">Data de Nascimento</label>
                        <input type="text" class="form-control" id="dataNascimento" th:field="*{dataNascimento}"
                            data-mask="00/00/0000" maxlength="10" autocomplete="off"
                            th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{dataNascimento}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="senha" th:text="#{cadastro.senha}">Senha</label>
                        <input type="text" class="form-control" id="senha" th:placeholder="#{cadastro.senha}    " th:field="*{senha}"
                            th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{senha}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <input type="hidden" class="form-control" id="papel" value="ROLE_CLIENTE" readonly
                            th:field="*{papel}" />
                    </div>

                </div>

                <input type="hidden" id="id" th:field="*{id}" />
                <button type="submit" class="btn btn-primary btn-sm" th:text="#{cadastro.salvar}">Salvar</button>
            </form>
        </div>
    </section>
</body>

</html>