<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
</head>

<body>

    <section class="layout-content" layout:fragment="corpo">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav class="navbar navbar-expand-md bg-light">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><i class="oi oi-caret-right"></i>
                            <span th:text="#{profissional.cadastrar}">Cadastrar Profissionais</span>
                        </li>
                    </ul>
                    <a class="btn btn-primary btn-md" th:href="@{/profissionais/listar}" role="button"> <span
                            class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span> <span th:text="#{cadastro.listar}">Listar
                            Profissionais</span>
                    </a>
                </div>
            </nav>
        </div>

        <div class="container" id="cadastro">

            <div th:replace="~{fragments/alert}"></div>

            <form th:action="${profissional.id == null} ? @{/profissionais/salvar} : @{/profissionais/editar}"
                th:object="${profissional}" method="POST" enctype="multipart/form-data">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome" th:text="#{profissional.nome}">Nome</label>
                        <input type="text" class="form-control" id="nome" th:placeholder="#{profissional.nome}" autofocus="autofocus"
                            th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{nome}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail" th:field="*{email}"
                            th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{email}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="CPF">CPF</label>
                        <input type="text" class="form-control" id="CPF" placeholder="___.___.___-__"
                            th:readonly="${profissional.id != null}" autofocus="autofocus" th:field="*{CPF}"
                            th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" data-mask="000.000.000-00"
                            data-mask-reverse="true" />

                        <div class="invalid-feedback">
                            <span th:errors="*{CPF}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="especialidade" th:text="#{profissional.especialidade}">Especialidade</label>
                        <input type="text" class="form-control" id="especialidade" th:placeholder="#{profissional.especialidade}"
                            th:field="*{especialidade}"
                            th:classappend="${#fields.hasErrors('especialidade')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{especialidade}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="senha" th:text="#{cadastro.senha}">Senha</label>
                        <input type="text" class="form-control" id="senha" th:placeholder="#{cadastro.senha}" th:field="*{senha}"
                            th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{senha}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <input type="hidden" class="form-control" id="papel" value="PROFISSIONAL" readonly
                            th:field="*{papel}" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="qualificacao" th:text="#{profissional.qualificacao.pdf}">Qualificação (PDF, DOC, etc.)</label>
                        <input type="file" class="form-control-file" name="file" accept=".pdf, .doc, .docx, .odt" />
                    </div>
                </div>

                <input type="hidden" id="id" th:field="*{id}" />
                <button type="submit" class="btn btn-primary btn-sm" th:text="#{cadastro.salvar}">Salvar</button>
            </form>
        </div>
    </section>
</body>

</html>