<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>

	<head>
		<meta charset="UTF-8">
	</head>

<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i class="oi oi-home"></i> <span
						th:text="#{sidebar.link.home}"></span>
				</a></li>
		</ul>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active">CRUD Profissionais</span></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/profissionais/cadastrar}"> <i
							class="oi oi-plus"></i>
						<span>Cadastrar</span>
					</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/profissionais/listar}"> <i
							class="oi oi-spreadsheet"></i>
						<span>Listar</span>
					</a></li>
			</ul>

			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active">CRUD Clientes</span></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/clientes/cadastrar}"> <i class="oi oi-plus"></i>
						<span>Cadastrar</span>
					</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/clientes/listar}"> <i
							class="oi oi-spreadsheet"></i>
						<span>Listar</span>
					</a></li>
			</ul>
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active">CRUD Consultas</span></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/consultas/cadastrar}"> <i class="oi oi-plus"></i>
						<span>Cadastrar</span>
					</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/consultas/listar}"> <i
							class="oi oi-spreadsheet"></i>
						<span>Listar</span>
					</a></li>
			</ul>
		</div>

		<div sec:authorize="hasRole('ROLE_PROFISSIONAL')">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/consultas/minhasConsultas}">
						<i class="oi oi-spreadsheet"></i>
						<span>Minhas Consultas</span>
					</a>
				</li>
			</ul>
		</div>

		<div sec:authorize="hasRole('ROLE_CLIENTE')">

		</div>
	</nav>
</body>

</html>